.cards-container .cards-wrapper {
  margin-top: var(--spacing-xbig);
}

/* .cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0;
}

.cards > ul > li {
  border: var(--shape-border-width-1) solid var(--color-neutral-500);
  background-color: var(--background-color);
} */

.cards > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards > ul > li {
  border: var(--shape-border-width-1) solid var(--color-neutral-500);
  background-color: lightgray;
  text-align: center;
  padding: 1rem;
  border-radius: 9px;
}

.cards .cards-card-body {
  margin: var(--spacing-small);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 7 / 3;
  object-fit: cover;
}
